In [1]:
# Run below commands in google colab
# install Java8
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
# download spark3.0.0
!wget -q https://dlcdn.apache.org/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz
# unzip it
!tar xf spark-3.3.0-bin-hadoop3.tgz
# install findspark 
!pip install -q findspark
!pip install -q pyspark

     |████████████████████████████████| 281.4 MB 46 kB/s
     |████████████████████████████████| 199 kB 48.8 MB/s
  Building wheel for pyspark (setup.py) ... done

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.0-bin-hadoop3"

In [3]:
import findspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("TDE2").getOrCreate()
findspark.init()

archive = "transactions_amostra.csv"
transactions = spark\
              .read.format("csv")\
              .option("sep", ";")\
              .option("inferSchema", "True")\
              .option("header", "True")\
              .csv(archive)

In [4]:
# Exercise 1: The number of transactions involving Brazil

transactions.select("country_or_area", "quantity").show()

+--------------------+------------+
|     country_or_area|    quantity|
+--------------------+------------+
|             Belgium|      4135.0|
|           Guatemala|     10089.0|
|            Barbados|     24113.0|
|             Tunisia|       121.0|
|           Lithuania|      5419.0|
|             Denmark|  1.902844E7|
|            Thailand|     59595.0|
|            Portugal|     87367.0|
|               Congo|         9.0|
| Antigua and Barbuda|       648.0|
|            Pakistan|     66284.0|
|             Albania|     25763.0|
|          Azerbaijan|     64941.0|
| Antigua and Barbuda|        30.0|
|             Namibia|      6750.0|
|             Germany|   2649521.0|
|Central African Rep.|     30725.0|
|             Algeria|2.07859307E8|
|              France|      7400.0|
|             Albania|     30314.0|
+--------------------+------------+
only showing top 20 rows

In [5]:
# Exercise 2: The number of transactions per year
transactions.printSchema()

root
 |-- country_or_area: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- comm_code: string (nullable = true)
 |-- commodity: string (nullable = true)
 |-- flow: string (nullable = true)
 |-- trade_usd: long (nullable = true)
 |-- weight_kg: double (nullable = true)
 |-- quantity_name: string (nullable = true)
 |-- quantity: double (nullable = true)
 |-- category: string (nullable = true)

In [ ]:
# Exercise 3: The number of transactions per flow type and year

In [ ]:
# Exercise 4: The average of commodity values per year

In [ ]:
# Exercise 5: The average price of commodities per unit type, year, and category in the export flow in Brazil

In [ ]:
# Exercise 6: The maximum, minimum, and mean transaction price per unit type and year

In [ ]:
# Exercise 7: The most commercialized commodity (summing the quantities) in 2016, per flow type